<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="iNetBanking">

<listeners>
<listener class-name = "com.inetBanking.utilities.Reporting"></listener>

</listeners>

  <test name="eBanking Chrome App test">
  <parameter name="browser" value="firefox">
  </parameter>
    <classes>
       <class name="com.inetBanking.testcases.TC_LoginTest"/>
       <class name="com.inetBanking.testcases.TC_LoginTest_DDT"/>
       <class name="com.inetBanking.testcases.TC_AddNewCustomer_TC003"/>
       
    </classes>
  </test> <!-- Test -->
  
 
 <!-- Use the entire test block with value "firefox" to execute the testcases with firefox browser, but it will do it sequentially one after the other  -->
  
 
</suite> <!-- Suite -->
